{% extends 'base.html.twig' %}

{% block body %}
{% if not app.user %}
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue à l'OpenLyon</h1>
            <p class="lead">Visiteurs</p>
            <hr class="my-4">
        </div>
{% else %}
    <div class="jumbotron">
            <h1 class="display-3">Bienvenue à l'OpenLyon</h1>
            <p class="lead">Admin</p>
            <hr class="my-4">
        </div>
{% endif %}
{% endblock %}
